<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/employee</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Surya#589</property>
		<property name="hibernate.connection.driver_dialect">org.hibernate.dialect.MySql8.Dialect</property>
		<property name="hibernate.connection.show_sql">true</property>
		<mapping resource="hibernate.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>